<h1>New post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm">
    <div><input type="text" name="post[title]" placeholder="Title" value="<%= post.title %>"/></div>
    <div><input type="text" name="post[price]" placeholder="Price" value="<%= post.price %>"/></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name="images" multiple/>
        <div>
            <% post.images.forEach(function(image, index) { %>
                <img src="<%= image.url %>" width="150px" alt="">
                <label for="image<%= index %>">Delete?</label>
                <input type="checkbox" name="deleteImage" class="imageDeleteCheckbox" id="image<%= index %>" value="<%= image.public_id %>">
            <% }); %>
        </div>
    </div>
    <div><textarea name="post[description]" placeholder="Description"><%= post.description %></textarea></div>
    <div><input type="text" name="post[location]" placeholder="Location" value="<%= post.location %>"/></div>
    <input type="submit"/>
</form>

<script>
    // Find post edit form.
    let postEditForm = document.getElementById('postEditForm');
    // Add submit listener to post edit form.
    postEditForm.addEventListener('submit', function (event) {
        // Find amount of images to be uploaded.
        let imagesToUpload = document.getElementById('imageUpload').files.length;
        // Find total number of existing images.
        let existingImages = document.querySelectorAll('.imageDeleteCheckbox').length;
        // Find total number of images selected to be deleted.
        let imagesToBeDeleted = document.querySelectorAll('.imageDeleteCheckbox:checked').length;

        // Figure out if the form can be submitted or not (images total has to be <= 4, otherwise fail).
        let newTotal = existingImages - imagesToBeDeleted + imagesToUpload;
        if(newTotal > 4) {
            event.preventDefault();
            let removalAmount = newTotal - 4;
            // Ternary operator used here, to add an s there is more than one image.
            alert(`You need to remove at least ${removalAmount} image${removalAmount === 1 ? '' : 's'}!`)
        }
    });
</script>